.screenshot {
    background-color: #fff;
    &-container {
        overflow: hidden;
        @media (min-width: 360px) {
            padding: 0 30px;
          }
          @media (min-width: 768px) {
            padding: 0 100px;
          }
          @media (min-width: 1024px) {
            padding: 0 120px;
          }
          @media (min-width: 1200px) {
            padding: 0 150px;
          }
          @media (min-width: 1350px) {
            padding: 0 100px;
          }
          @media (min-width: 1600px) {
            padding: 0 140px;
          }
          @media (min-width: 1800px) {
            padding: 0 180px;
          }
    }
}

.service {
    background: #fff;
    position: relative;
    height: 80vh;
    display: flex;
    align-items: center;
    
  
    &-callout {
      font-size: 1.2em;
      
    }
  
    &-title{
      font-size: 6em;
      font-weight: 400;
      line-height: 1em;
      margin-top: 0.3em;
    }
    &-container {
      @media (min-width: 360px) {
        padding: 0 30px;
      }
      @media (min-width: 768px) {
        padding: 0 100px;
      }
      @media (min-width: 1024px) {
        padding: 0 120px;
      }
      @media (min-width: 1200px) {
        padding: 0 150px;
      }
      @media (min-width: 1350px) {
        padding: 0 180px;
      }
      @media (min-width: 1600px) {
        padding: 0 220px;
      }
      @media (min-width: 1800px) {
        padding: 0 270px;
      }
  
      .service-inner {
        height: 80vh;
        display: flex;
        align-items: center;
        justify-self: center;
  
        .service-inner-col {
          &.left {
            display: none;
          }
          &.right {
          }
          .service-inner-title {
            z-index: 11;
            position: relative;
            h1 {
              margin: 0;
  
              font-weight: 400;
              @media (min-width: 1800px) {
                font-size: 28px;
              }
            }
          }
          .service-inner-links {
            z-index: 11;
            position: relative;
            display: flex;
            .service-inner-link-item {
              .service-inner-link-item-padding {
                position: relative;
                &:before {
                  content: "";
                  display: block;
                  position: absolute;
                  top: -30vh;
                  bottom: -30vh;
                  left: 0;
                  right: 0;
                }
              }
              a {
                padding: 12px 22px;
                display: inline-block;
                position: relative;
                overflow: hidden;
                text-decoration: none;
                color: transparent;
                transition: color 0.3s, -webkit-text-stroke 0.3s;
                -webkit-text-stroke: 1px #000;
                &:hover {
                  color: black;
                  -webkit-text-stroke: 1px transparent;
                }
                span {
                  line-height: 1.1;
                  font-weight: 700;
                  text-shadow: none;
                  font-size: 5.8vw;
                }
              }
              &:first-child {
                a {
                  padding-left: 0;
                }
              }
              &:last-child {
                a {
                  padding-right: 0;
                }
              }
            }
          }
        }
      }
      .service-inner-footer {
        padding-bottom: 80px;
        .service-inner-footer-text {
          p {
            font-size: 2.8rem;
            margin-top: -90px;
            width: 70%;
            line-height: 4.4rem;
          }
        }
      }
    }
  }
